@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

/*MAIN PARTY*/ 
$main-body: #D2D2D2;
$main-footer: #353535;
$main-white: #F3F3F3;
$grey-primaire: #EAEAEA;
$color-purple-principal: #9356DC;
$color-pink-principal: #FF79DA;
$color-bg-grey-second: #F7F7F7;
$color-bg-grey-tri: #7E7E7E;
$color-green-clear: #99E2D0;
$color-green-dark: #008766;
$color-blue-clear: #89C8FA;
$color-bleu-green: #99E2D0;
$color-blue-dark: #003A68;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*HEADER PARTY */
header {
    width: 100%;
    & nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        & img {
            width: 30%;
            margin: 20px;
            @media (min-width: 1080px) and (max-width: 1920px){
                width: 10%;
            }
        }
    }
}

/* MAIN BODY CONTAINER PARTY */
main {
    .main_container_body {
        width: 100%;
        background-color: $grey-primaire;
        & .header_body_reverse {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        & .header_body_reverse_info_lieu {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $main-body;
            p { 
                margin: 5px;
            }
        }
        .header_body_reverse_info_button {
            width: 85%;
            height: 23vh;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            h1 {
                @media (max-width: 1920px) and (min-width: 1080px) {
                    font-size: 40px;
                }
            }
            & p {
                @media (max-width: 1920px) and (min-width: 1080px) {
                    font-size: 18px;
                }
            }
            & button {
                padding: 20px;
                border: none;
                border-radius: 25px;
                color: $main-white;
                box-shadow: 0px 0px 8px grey;
                background: linear-gradient(1turn, $color-purple-principal, $color-pink-principal);
                & a {
                    text-decoration: none;
                    color: white;
                    @media (max-width: 1920px) and (min-width: 1080px) {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                &:hover {
                    background: linear-gradient(1turn, #9e66e4, #fd8ede);
                }
            }
        }

        .header_body_reverse_info_fonctionnement {
            background-color: white;
            width: 100%;
            padding: 20px;
            .title-fonc {
                @media (max-width: 1920px) and (min-width: 1080px) {
                    width: 35%;
                    display: flex;
                    justify-content: center;
                    h2 {
                        width: 25%;
                    }
                }
            }
            
            .header_body_reverse_info_fonctionnement_button {
                height: 25vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                    @media (max-width: 1920px) and (min-width: 1080px) {
                        flex-direction: row;
                        height: 17vh;
                    }
                .choix_button {
                    display: flex;
                    align-items: center;
                    & button {
                        width: 100%;
                        border: none;
                        border-radius: 20px;
                        box-shadow: 0 4px 15px -3px $color-bg-grey-tri;
                        background-color: white;
                        padding: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        @media (max-width: 1920px) and (min-width: 1080px) {
                            padding: 25px 60px;
                        }
                        i {
                            font-size: 18px;
                            color: $color-bg-grey-tri;
                        }
                        i:hover {
                            color: $color-purple-principal;
                        }
                        a {
                            text-decoration: none;
                            color: black;
                            @media (max-width: 1920px) and (min-width: 1080px) {
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                    }
                    .number {
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        border-radius: 25px;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        left: 17px;
                        color: $main-white;
                        background-color: $color-purple-principal;
                    }
                    .number-span {
                        @media (max-width: 1920px) and (min-width: 1080px) {
                            left: 8px;
                            position: relative;
                        }
                    }
                }
            }
        }

        .restaurant_articles {
            .title-fonc h2 {
                padding: 30px 20px 0px 20px;
                @media (max-width: 1920px) and (min-width: 1080px) {
                    width: 35%;
                    display: flex;
                    justify-content: center;
                    h2 {
                        width: 30%;
                    }
                }
            }
            .restaurant_articles_cards {
                margin: 30px 25px;
                box-shadow: 0 4px 15px -3px grey;
                border-radius: 15px;
                overflow: hidden;
                height: 28vh;
                @media (max-width: 1920px) and (min-width: 1080px) {
                    width: 35%;
                }
                & .nouveau {
                    @media (max-width: 1920px) and (min-width: 1080px) {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: 19vh;
                        object-fit: cover;
                        border-radius: 20px 20px 0 0;
                    }
                }
                
                
                & .span-nouveau {
                    padding: 10px;
                    right: 40px;
                    position: absolute;
                    background-color: $color-bleu-green;
                    @media (max-width: 1920px) and (min-width: 1080px) {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                .respo-nouveau {
                    @media (max-width: 1920px) and (min-width: 1080px) {
                        position: absolute;
                        margin: 20px;
                        width: 35%;
                    }
                }
            }
            & .les_articles {
                @media (max-width: 1920px) and (min-width: 1080px) {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: center;
                }
            }
            & .txt-img {
                width: 100%;
                margin: 13px 8px;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: space-between;
                a {
                    text-decoration: none;
                }
                .hearts {
                    position: relative;
                    right: -68px;
                    width: 40%;
                    .likes {
                        top: -12px;
                        font-size: 23px;
                        left: 0px;
                        position: absolute;
                        @media (max-width: 1920px) and (min-width: 1080px) {
                            left: 115px;
                        }
                    }
                    :hover {
                        z-index: 2;
                    }
                    .likes-plein {
                        top: -12px;
                        left: 0px;
                        position: absolute;
                        font-size: 23px;
                        -webkit-text-fill-color: transparent;
                        @media (max-width: 1920px) and (min-width: 1080px) {
                            left: 115px;
                        }
                        :hover {
                            background: linear-gradient($color-purple-principal, $color-pink-principal);
                            -webkit-background-clip: text;
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                }
                & .txt-img-likes a{
                    color: black;
                }
            }
        }
    }
}

/*FOOTER PARTY */
footer {
    width: 100%;
    background: #353535;
    color: $main-white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    @media (max-width: 1920px) and (min-width: 1080px) {
        height: 12vh;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    h3 {
        font-family: 'Shrikhand', cursive;
        margin: 20px;
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 1920px) and (min-width: 1080px) {
            display: flex;
            align-items: center;
        }
    }
    .flex {
        i{
            width: 20px;
            margin-left: 20px;
        }
    }
    .a_propos {
        @media (max-width: 1920px) and (min-width: 1080px) {
            display: flex;
            align-items: center;
        }
    }
    
    & a {
        color: white;
        text-decoration: none;
        align-items: center;
        display: flex;
        p {
            margin: 8px;
        }
    }
} 