@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
/* font familly */
/*COLOR PARTY*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* MAIN PARTY */
header {
  width: 100%;
}
header nav {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 90%;
}
@media (min-width: 1080px) {
  header nav {
    justify-content: space-between;
    width: 55%;
    padding: 20px;
  }
}
@media (max-width: 1079px) and (min-width: 720px) {
  header nav {
    width: 78%;
  }
}
header nav .arrow-left {
  font-size: x-large;
  color: #353535;
}
header nav img {
  width: 150px;
}

@media (min-width: 1080px) {
  main {
    padding-bottom: 159px;
  }
}
main img {
  width: 100%;
  position: absolute;
  height: 26%;
  object-fit: cover;
}
@media (min-width: 1080px) {
  main img {
    height: 41%;
  }
}
main .container-body-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-gout {
  width: 100%;
  position: relative;
  background: #EAEAEA;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  top: 195px;
  margin-bottom: 200px;
}
@media (min-width: 1080px) {
  .section-gout {
    width: 50%;
    top: 358px;
    padding: 65px 100px;
  }
}
@media (max-width: 1079px) and (min-width: 720px) {
  .section-gout {
    width: 60%;
  }
}
.section-gout .section-title-goût-principal {
  display: flex;
  align-items: center;
  width: 33vh;
  margin: 0 0px 20px 0;
}
@media (min-width: 1080px) {
  .section-gout .section-title-goût-principal {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 90%;
  }
}
.section-gout .section-title-goût-principal h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
}
.section-gout .section-title-goût-principal .hearts {
  position: relative;
  right: -20px;
}
@media (min-width: 1080px) {
  .section-gout .section-title-goût-principal .hearts {
    left: 23px;
  }
}
.section-gout .section-title-goût-principal .hearts .likes {
  top: -12px;
  font-size: 23px;
  left: 0px;
  position: absolute;
}
.section-gout .section-title-goût-principal .hearts :hover {
  z-index: 2;
}
.section-gout .section-title-goût-principal .hearts .likes-plein {
  top: -12px;
  left: 0px;
  position: absolute;
  font-size: 23px;
  -webkit-text-fill-color: transparent;
}
.section-gout .section-title-goût-principal .hearts .likes-plein :hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 2;
}
.section-gout .section-title-goût-principal .txt-img-likes a {
  color: black;
}
.section-gout .fa-regular {
  color: black;
}

.section-body-content {
  width: 100%;
}
.section-body-content .section-title-goût {
  display: flex;
  flex-direction: column;
}
.section-body-content .section-title-goût h3 {
  font-weight: 100;
}
.section-body-content .barre_de_separation {
  width: 20%;
  display: flex;
  border: 3px solid #99E2D0;
}
.section-body-content .section-text-euro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  background-color: #F7F7F7;
}
.section-body-content .section-text-euro .card {
  width: 240px;
  padding: 10px;
}
@media (min-width: 1080px) {
  .section-body-content .section-text-euro .card {
    width: 100%;
  }
}
.section-body-content .section-text-euro .card h4, .section-body-content .section-text-euro .card p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.section-body-content .section-text-euro .mar-p {
  margin-right: 10px;
  display: flex;
}
.section-body-content .section-text-euro:hover .tcheck {
  width: 40px;
  height: 6vh;
  background-color: aquamarine;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-body-content .section-text-euro:hover .tcheck :hover {
  width: 15%;
  height: 5vh;
  right: 50px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-body-content .section-text-euro:hover .tcheck i {
  display: flex;
  color: white;
}
.section-body-content .section-text-euro i {
  display: none;
}

.btn-commander {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-commander button {
  font-weight: 500;
  padding: 20px 45px;
  border: none;
  border-radius: 25px;
  color: #F3F3F3;
  box-shadow: 0px 0px 8px grey;
  background: linear-gradient(1turn, #9356DC, #FF79DA);
}
.btn-commander button:hover {
  background: linear-gradient(1turn, #9e66e4, #fd8ede);
}

/*FOOTER PARTY */
footer {
  width: 100%;
  background: #353535;
  color: #F3F3F3;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media (min-width: 1080px) {
  footer {
    height: 12vh;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
footer h3 {
  font-family: "Shrikhand", cursive;
  margin: 20px;
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1080px) {
  footer h3 {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
}
@media (min-width: 1080px) {
  footer .a_propos {
    display: flex;
    align-items: center;
  }
}
footer .flex i {
  width: 20px;
  margin-left: 20px;
}
@media (min-width: 1080px) {
  footer .info-contact {
    display: flex;
  }
}
footer .info-contact a p {
  margin: 8px 20px;
}
footer a {
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
}
footer a p {
  margin: 8px;
}

/*# sourceMappingURL=paletteDuGout.css.map */
