@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
/*MAIN PARTY*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* LOADER PAGE INDEX */
.animate-loader-base {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
}
.animate-loader-base .animaTion-contenu-main-loader {
  width: 30%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 1024px) {
  .animate-loader-base .animaTion-contenu-main-loader {
    width: 10%;
  }
}
.animate-loader-base .animaTion-contenu-main-loader .span-loader {
  font-size: 67px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #353535;
  border: 3px solid #353535;
  background: linear-gradient(1turn, #9356DC, #FF79DA, #99E2D0);
  animation-name: animate-flow-color;
  animation-timing-function: ease-in;
  animation-duration: 6s;
}
.animate-loader-base .text-loader {
  width: 100%;
  height: 10%;
  text-align: center;
}

@keyframes animate-flow-color {
  0% {
    transform: rotate(-360deg);
    background: linear-gradient(#003A68, #FF79DA, #9356DC, #99E2D0);
  }
  25% {
    background: linear-gradient(#FF79DA, #89C8FA, #99E2D0, #9356DC);
  }
  50% {
    background: linear-gradient(#99E2D0, #FF79DA, #9356DC, #7E7E7E);
  }
  75% {
    background: linear-gradient(#FF79DA, #89C8FA, #99E2D0, #9356DC);
  }
  100% {
    background: linear-gradient(#99E2D0, #FF79DA, #9356DC, #7E7E7E);
  }
}
@keyframes animaTion-contenu-main {
  0% {
    position: fixed;
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    position: absolute;
    opacity: 1;
    transform: translateY(0);
  }
}
.animate--slow {
  animation-duration: 5s;
}

.animaTion-contenu-main {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  /*animation: animaTion-contenu-main 10s ease-in 0s 1 normal none;*/
  animation-name: animaTion-contenu-main;
  /*animation-duration: 10s;*/
  animation-timing-function: ease-in;
  /*animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;*/
  transform: translateX(0);
}

/*HEADER PARTY */
header {
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header nav img {
  width: 150px;
  margin: 20px;
}

/* MAIN BODY CONTAINER PARTY */
main {
  background-color: #D2D2D2;
}
main .main_container_body {
  width: 100%;
  background-color: #EAEAEA;
}
main .main_container_body .header_body_reverse {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .main_container_body .header_body_reverse_info_lieu {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D2D2D2;
}
main .main_container_body .header_body_reverse_info_lieu p {
  margin: 5px;
}
main .main_container_body .header_body_reverse_info_button {
  width: 85%;
  height: 25vh;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
main .main_container_body .header_body_reverse_info_button h1 {
  font-size: 24px;
  width: 80%;
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_button h1 {
    font-size: 40px;
  }
}
main .main_container_body .header_body_reverse_info_button p {
  font-size: 18px;
}
main .main_container_body .header_body_reverse_info_button button {
  padding: 20px;
  border: none;
  border-radius: 25px;
  color: #F3F3F3;
  box-shadow: 0px 0px 8px grey;
  background: linear-gradient(1turn, #9356DC, #FF79DA);
}
main .main_container_body .header_body_reverse_info_button button a {
  text-decoration: none;
  color: white;
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_button button a {
    font-size: 16px;
    font-weight: 500;
  }
}
main .main_container_body .header_body_reverse_info_button button:hover {
  background: linear-gradient(1turn, #9e66e4, #fd8ede);
}
main .main_container_body .header_body_reverse_info_fonctionnement {
  background-color: white;
  width: 100%;
  padding: 30px 35px;
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_fonctionnement .title-fonc {
    width: 78%;
    display: flex;
  }
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button {
    flex-direction: row;
    height: 17vh;
    width: 90%;
  }
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button {
    width: 30%;
  }
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button button {
  width: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 15px -3px #7E7E7E;
  background-color: white;
  padding: 20px 25px;
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button button {
    padding: 25px 0px;
  }
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button button i {
  font-size: 18px;
  color: #7E7E7E;
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button button i:hover {
  color: #9356DC;
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button button a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button button a p {
  margin: 0 15px;
}
main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button .number {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 25px;
  color: #F3F3F3;
  background-color: #9356DC;
}
@media (min-width: 1024px) {
  main .main_container_body .header_body_reverse_info_fonctionnement .header_body_reverse_info_fonctionnement_button .choix_button .number-span {
    left: 8px;
    position: relative;
  }
}
main .main_container_body .restaurant_articles {
  padding: 20px 0;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .title-fonc {
    width: 100%;
  }
}
main .main_container_body .restaurant_articles .title-fonc h2 {
  padding: 0px 20px 0px 40px;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .title-fonc h2 {
    width: 31%;
    display: flex;
    justify-content: center;
  }
}
main .main_container_body .restaurant_articles .restaurant_articles_cards {
  box-shadow: 0 4px 15px -3px grey;
  border-radius: 15px;
  overflow: hidden;
  height: 28vh;
  margin: 24px 0;
  width: 100%;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .restaurant_articles_cards {
    width: 47%;
    margin: 24px 0;
  }
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .restaurant_articles_cards .nouveau {
    width: 100%;
  }
}
main .main_container_body .restaurant_articles .restaurant_articles_cards .nouveau img {
  width: 100%;
  height: 19vh;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
main .main_container_body .restaurant_articles .restaurant_articles_cards .span-nouveau {
  padding: 10px;
  right: 57px;
  position: absolute;
  background-color: #99E2D0;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .restaurant_articles_cards .span-nouveau {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 1024px) and (min-width: 720px) {
  main .main_container_body .restaurant_articles .restaurant_articles_cards .span-nouveau {
    right: 88px;
  }
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .restaurant_articles_cards .respo-nouveau {
    position: absolute;
    margin: 20px;
    width: 35%;
  }
}
main .main_container_body .restaurant_articles .les_articles {
  width: 90%;
  margin: 20px;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .les_articles {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) and (min-width: 720px) {
  main .main_container_body .restaurant_articles .les_articles {
    margin: 30px;
  }
}
main .main_container_body .restaurant_articles .txt-img {
  width: 100%;
  margin: 13px 8px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
main .main_container_body .restaurant_articles .txt-img a {
  text-decoration: none;
}
main .main_container_body .restaurant_articles .txt-img .hearts {
  position: relative;
  right: -68px;
  width: 40%;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .txt-img .hearts {
    right: 5px;
  }
}
@media (max-width: 1023px) and (min-width: 720px) {
  main .main_container_body .restaurant_articles .txt-img .hearts {
    right: -178px;
  }
}
main .main_container_body .restaurant_articles .txt-img .hearts .likes {
  top: -12px;
  font-size: 23px;
  left: 0px;
  position: absolute;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .txt-img .hearts .likes {
    left: 115px;
  }
}
main .main_container_body .restaurant_articles .txt-img .hearts :hover {
  z-index: 2;
}
main .main_container_body .restaurant_articles .txt-img .hearts .likes-plein {
  top: -12px;
  left: 0px;
  position: absolute;
  font-size: 23px;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1024px) {
  main .main_container_body .restaurant_articles .txt-img .hearts .likes-plein {
    left: 115px;
  }
}
main .main_container_body .restaurant_articles .txt-img .hearts .likes-plein :hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 2;
}
main .main_container_body .restaurant_articles .txt-img .txt-img-likes a {
  color: black;
}

/*FOOTER PARTY */
footer {
  width: 100%;
  background: #353535;
  color: #F3F3F3;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media (min-width: 1024px) {
  footer {
    height: 12vh;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
footer h3 {
  font-family: "Shrikhand", cursive;
  margin: 20px;
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1024px) {
  footer h3 {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
}
@media (min-width: 1024px) {
  footer .a_propos {
    display: flex;
    align-items: center;
  }
}
footer .flex i {
  width: 20px;
  margin-left: 20px;
}
@media (min-width: 1024px) {
  footer .info-contact {
    display: flex;
  }
}
footer .info-contact a p {
  margin: 8px 20px;
}
footer a {
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
}
footer a p {
  margin: 8px;
}

/*# sourceMappingURL=style.css.map */
