/* Error: Undefined variable.
 *    ,
 * 23 |             border-top: 6px solid $color-purple-principal;
 *    |                                   ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\utils\_animations.scss 23:35  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 23 \2502              border-top: 6px solid $color-purple-principal;\d\a    \2502                                    ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\utils\\_animations.scss 23:35  root stylesheet";
}
