@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');
/* font familly */

/*COLOR PARTY*/ 
$main-body: #D2D2D2;
$main-footer: #353535;
$main-white: #F3F3F3;
$grey-primaire: #EAEAEA;
$color-purple-principal: #9356DC;
$color-pink-principal: #FF79DA;
$color-bg-grey-second: #F7F7F7;
$color-bg-grey-tri: #7E7E7E;
$color-green-clear: #99E2D0;
$color-green-dark: #008766;
$color-blue-clear: #89C8FA;
$color-blue-dark: #003A68;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* MAIN PARTY */
header {
    width: 100%;
    & nav {
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        @media (min-width: 1080px) {
            justify-content: space-between;
            width: 55%;
            padding: 20px;
        }
        width: 90%;
        & .arrow-left {
            font-size: x-large;
            color: $main-footer;
        }
        & img {
            width: 150px;
        }
    }
}

main {
    @media (min-width: 1080px) {
        padding-bottom: 159px;
    }
    & img {
        width: 100%;
        position: absolute;
        height: 45%;
        object-fit: cover;
    }
    .container-body-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}



.section-gout {
    width: 100%;
    position: relative;
    background: $grey-primaire;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    top: 195px;
    margin-bottom: 200px;
    @media (min-width: 1080px) {
        width: 50%;
        top: 358px;
        padding: 65px 130px;    
    }
    .section-title-goût-principal {
        display: flex;
        align-items: center;
        width: 33vh;
        margin: 0 0px 20px 0;
        @media (min-width: 1080px) {
            margin-left: 140px;
        }
        h1 {
            font-family: 'Shrikhand';
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
        }
        .hearts {
            position: relative;
            right: -20px;
            @media (min-width: 1080px) {
                left: 23px;
            }
            & .likes {
                top: -12px;
                font-size: 23px;
                left: 0px;
                position: absolute;
            }
            :hover {
                z-index: 2;
            }
            .likes-plein {
                top: -12px;
                left: 0px;
                position: absolute;
                font-size: 23px;
                -webkit-text-fill-color: transparent;
                :hover {
                    background: linear-gradient($color-purple-principal, $color-pink-principal);
                    -webkit-background-clip: text;
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
        & .txt-img-likes a{
            color: black;
        }
    }
    .fa-regular {
        color: black;
    }
}
.section-body-content {
    width: 100%;
    & .section-title-goût {
        display: flex;
        flex-direction: column;
        h3 {
            font-weight: 100;
        }
    }
    & .barre_de_separation {
        width: 20%;
        display: flex;
        border: 3px solid #99E2D0;
    }
    & .section-text-euro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        border-radius: 10px;
        width: 100%;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        background-color: $color-bg-grey-second;
        .card {
            width: 240px;
            padding: 10px;
            @media (min-width: 1080px) {
                width: 100%;
            }
            h4, p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .mar-p {
            margin-right: 10px;
            display: flex;
        }
        &:hover {
            .tcheck {
                    width: 40px;
                    height: 6vh;
                    background-color: aquamarine;
                    border-radius: 0 10px 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                :hover {
                    width: 15%;
                    height: 5vh;
                    right: 50px;
                    background-color: aquamarine;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & i {
                    display: flex;
                    color: white;
                }
            }
        }
        & i {
            display: none;
        }
    }
}
.btn-commander {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & button {
        font-weight: 500;
        padding: 20px 45px;
        border: none;
        border-radius: 25px;
        color: $main-white;
        box-shadow: 0px 0px 8px grey;
        background: linear-gradient(1turn, $color-purple-principal, $color-pink-principal);
        &:hover {
            background: linear-gradient(1turn, #9e66e4, #fd8ede);
        }
    }
    
}

/*FOOTER PARTY */
footer {
    width: 100%;
    background: #353535;
    color: $main-white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    @media (min-width: 1080px) {
        height: 12vh;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    h3 {
        font-family: 'Shrikhand', cursive;
        margin: 20px;
        font-weight: 500;
        font-size: 18px;
        @media (min-width: 1080px) {
            display: flex;
            align-items: center;
            margin-right: 100px;
        }
    }
    
    .a_propos {
        @media (min-width: 1080px) {
            display: flex;
            align-items: center;
        }
    }
    .flex {
        i{
            width: 20px;
            margin-left: 20px;
        }
    }
    .info-contact{
        @media (min-width: 1080px) {
            display: flex;
        }
        a p{
            margin: 8px 20px;
        }
    }
    & a {
        color: white;
        text-decoration: none;
        align-items: center;
        display: flex;
        p {
            margin: 8px;
        }
    }
} 