@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');
/* font familly */

/*COLOR PARTY*/ 
$main-body: #D2D2D2;
$main-footer: #353535;
$main-white: #F3F3F3;
$grey-primaire: #EAEAEA;
$color-purple-principal: #9356DC;
$color-pink-principal: #FF79DA;
$color-bg-grey-second: #F7F7F7;
$color-bg-grey-tri: #7E7E7E;
$color-green-clear: #99E2D0;
$color-green-dark: #008766;
$color-blue-clear: #89C8FA;
$color-blue-dark: #003A68;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* MAIN PARTY */
header {
    width: 100%;
    & nav {
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        width: 90%;
        & .arrow-left {
            font-size: x-large;
            color: $main-footer;
        }
        & img {
            width: 50%;
        }
    }
}

main img {
    width: 100%;
    position: absolute;
}

.section-gout {
    position: relative;
    background: $grey-primaire;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    top: 195px;
    margin-bottom: 200px;
    .section-title-goût-principal {
        display: flex;
        align-items: center;
        width: 33vh;
        margin: 0 0px 20px 0;
        h1 {
            font-family: 'Shrikhand';
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
        }
        .hearts {
            position: relative;
            right: -50px;
            & .likes {
                top: -12px;
                font-size: 23px;
                left: 0px;
                position: absolute;
            }
            :hover {
                z-index: 2;
            }
            .likes-plein {
                top: -12px;
                left: 0px;
                position: absolute;
                font-size: 23px;
                -webkit-text-fill-color: transparent;
                :hover {
                    background: linear-gradient($color-purple-principal, $color-pink-principal);
                    -webkit-background-clip: text;
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
        & .txt-img-likes a{
            color: black;
        }
    }
    .fa-regular {
        color: black;
    }
}
.section-body-content {
    width: 100%;
    & .section-title-goût {
        display: flex;
        flex-direction: column;
        h3 {
            font-weight: 100;
        }
    }
    & .barre_de_separation {
        width: 20%;
        display: flex;
        border: 3px solid #99E2D0;
    }
    & .section-text-euro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0px 0px 8px grey;
        background-color: $color-bg-grey-second;
    }
}
.btn-commander {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & button {
        padding: 20px 45px;
        border: none;
        border-radius: 25px;
        color: $main-white;
        box-shadow: 0px 0px 8px grey;
        background: linear-gradient(1turn, $color-purple-principal, $color-pink-principal);
        &:hover {
            background: linear-gradient(1turn, #9e66e4, #fd8ede);
        }
    }
    
}

/*FOOTER PARTY */
footer {
    width: 100%;
    background: #353535;
    color: $main-white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    h3 {
        font-family: 'Shrikhand', cursive;
        margin: 20px;
        font-weight: 500;
        font-size: 18px;
    }
    .flex {
        i{
            width: 20px;
            margin-left: 20px;
        }
    }
    .a_propos a {
        color: white;
        text-decoration: none;
        align-items: center;
        display: flex;
        p {
            margin: 8px;
        }
    }
} 